table.cookies{
  background: $gray-light-ccc;
  width:100%;
  padding: 15px;
  tr{
    //padding: 15px;
  }
  th{
    text-align: left;
    background: $white;
    padding: 15px 0;
  }
  td{
    padding: 15px 0;
  }
}